


<!-- <ion-buttons start>

  <button ion-button icon-only menuToggle>

    <ion-icon name="menu"></ion-icon>

  </button>

</ion-buttons> -->

<ion-header>

  <ion-navbar>
    <ion-title>Channel</ion-title>

    <ion-buttons start>

        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <!-- <button ion-button (click)="sendMessage()">
          <ion-icon name="add"></ion-icon>
        </button> -->
        <button ion-button (click)="getMessages()">
          <ion-icon name="refresh"></ion-icon>
        </button>
      
      </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding>


    <!-- <ion-list padding>
        <h1>Channels</h1>
        <ion-item-sliding *ngFor="let channel of channels">
            <ion-item>{{channel.name}}</ion-item>

          <ion-item-options side="right">
              <button ion-button>
                  <ion-icon name="settings"></ion-icon>
                </button>
              <button color="danger" ion-button (click)="deleteMessage(message.id)">
                <ion-icon name="trash"></ion-icon>
              </button>
     
          </ion-item-options>
        </ion-item-sliding>

        <button>Create new Channel</button>
        
        <ion-item>Todo 2</ion-item>
        <ion-item>Todo 3</ion-item>
      </ion-list> -->

    <ion-list padding>
      <ion-item-sliding *ngFor="let message of messages">
          <ion-item>{{message.user.username}} - {{message.message}}</ion-item>
    
        <ion-item-options side="right">
            <button ion-button>
                <ion-icon name="settings"></ion-icon>
              </button>
            <button color="danger" ion-button (click)="deleteMessage(message.id)">
              <ion-icon name="trash"></ion-icon>
            </button>
   
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


    <ion-footer>
        <textarea #chat_input
        placeholder="Text Input"
        [(ngModel)]="message"
        (keyup.enter)="sendMessage()"
        >
</textarea>
<button ion-button clear icon-only item-right (click)="sendMessage()">
<ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
</button>
    </ion-footer>
   
   </ion-content>


